<% layout('layout') -%>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-offset-3">
      <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>
        <% } %>
        <div class="row">
          <form method="post">
            <h2 style=" text-align: center">Add a new Category</h2>
            <div class="form-group">
              <label="name">Name: </label>
              <input type="text" class="form-control" name="name">
            </div>
            <button type="submit" class="btn btn-success">Add new</button>

          </form>
        </div>
      </div>
    </div>
