<% layout('layout') -%>
<div class="container">
	<!-- contact form -->
	<div class="contact-form">
		<!-- heading -->
		<h4>Feel Free To Contact Us<span class="theme">.</span></h4>
		<div class="row">
			<div class="col-md-8 col-sm-8">
				<!-- form details -->
				<form method="post" action="/contactus" id="emailForm">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail11">Email*</label>
								<input type="email" class="form-control" id="exampleInputEmail11" required="required">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="exampleInputEmail12">Subject*</label>
								<input type="text" class="form-control" id="exampleInputEmail12" required="required">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="msg" >Message*</label>
						<textarea class="form-control" id="msg" rows="10"></textarea>
					</div>
					<div class="btn-area">
						<button type="submit" class="btn btn-primary btn-lg" id="send">Send</button>&nbsp;&nbsp;
						<button type="reset" class="btn btn-default btn-lg" value="Reset">Reset</button>
					</div>
				</form>
			</div>

			<div class="col-md-4 col-sm-4">


				<div class="contact-sidebar">

					<h4>FIND US ON</h4>
					<div class="social">
						<!-- links -->
						<a href="https://www.facebook.com/dhbkhanoi/?fref=ts" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script >
$(function(){
	var fullUrl = location.protocol+'//'+location.hostname+(location.port? ':' + location.port: '');
	$("#send").click(function(){
		var formData = $("#emailForm").serialize();
		$.ajax({
			url: fullUrl+'/send',
			type: 'POST',
			data: formData,
			success: function(result){
				$("#msg").empty().text("There is some error to send email, Error Code:" +e.status + ",Error Message:" + e.statusText);
			},
			dataType: html,
			timeout: 60000

		});
	});
});
</script>
