<div class="footer" class="navbar navbar-default ">
  <div class="container">
    <p id="copyright"style="text-align:center">
      <a href="/" target="_blank" >  Copyright © Beautyvn-Shop 2017. All rights reserved.</a>
    </p>
  </div>

</div>
