<!-- <script src="/js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script src="/js/custom.js"></script>
<script src="/js/spin.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">

var opts = {
  lines: 13 // The number of lines to draw
  , length: 0 // The length of each line
  , width: 12 // The line thickness
  , radius: 31 // The radius of the inner circle
  , scale: 1 // Scales overall size of the spinner
  , corners: 1 // Corner roundness (0..1)
  , color: '#000' // #rgb or #rrggbb or array of colors
  , opacity: 0.25 // Opacity of the lines
  , rotate: 10 // The rotation offset
  , direction: 1 // 1: clockwise, -1: counterclockwise
  , speed: 1.2 // Rounds per second
  , trail: 71 // Afterglow percentage
  , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
  , zIndex: 2e9 // The z-index (defaults to 2000000000)
  , className: 'spinner' // The CSS class to assign to the spinner
  , top: '50%' // Top position relative to parent
  , left: '50%' // Left position relative to parent
  , shadow: true // Whether to render a shadow
  , hwaccel: false // Whether to use hardware acceleration
  , position: 'absolute' // Element positioning
}
Stripe.setPublishableKey('pk_test_');
function stripeResponseHandler(status, response) {
  var $form = $('#payment-form');
  if (response.error) {  //problem
    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {

    // token contains id, last4, and card typ
    var token = response.id;
    // insert the token into the form so it gets submitted to the serverfunction stripeResponseHandler(status, response)
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    var spinner = new Spinner(opts).spin();
    $('#loading').append(spinner.el);
    // and submit form
    $form.get(0).submit();
  }
};


$('#payment-form').submit(function(event){

  var $form = $(this);

  //Disable the submit button to prevent repeated clicks
  $form.find('button').prop('disabled', true);

  Stripe.card.createToken($form, stripeResponseHandler);
  //prevent the form from submitting with the default action
  return false;
});
</script>
