<% layout('layout') -%>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Beautyvn-Shop</a>
    </div>
    <form class="navbar-form navbar-left" action="/search" method="post">
      <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <button class="btn btn-default" type="submit">Search</button>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right" data-toggle="dropdown">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contactus">Contact Us</a></li>

      <li><a class="dropdown-toggle " data-toggle="dropdown" href="#">Categories</a>
        <ul class="dropdown-menu">
          <% for(var i = 0; i<categories.length; i++) { %>
            <li><a href="/products/<%= categories[i]._id %>"><%= categories[i].name %></a></li>
            <% } %>
          </ul>
        </li>

        <% if (!user) { %>
          <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Login/Registration</a>
            <ul class="dropdown-menu">
              <li><a href="/signup">Registration</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </li>
          <% } else { %>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %></a>
              <ul class="dropdown-menu">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <% } %>

            <% if (user) { %>
              <li><a href="/cart" class="glyphicon glyphicon-shopping-cart"><span class="badge"><%= cart %></span></a></li>
              <% } else { %>
                <li><a href="" class="glyphicon glyphicon-shopping-cart"><span class="badge">0</span></a></li>

                <% } %>

              </ul>

            </div>
          </nav>
