body{
  padding-top: 65px;
}
.footer{
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background:#f8f8f8;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 1px;
}
.jumbotron{
  background-color: #e7e5e4;
}
#copyright{
  padding-top: 20px;
}
#navbar-gap{
  margin-top: -1.6%;
}

.product-image{
  width: 100%;
}

.search-result{
  text-align: center;
}
.search-not-found{
  text-align: center;
}

.main-text
{
  position: absolute;
  top: 50px;
  width: 96.66666666666666%;
  color: #FFF;
}

.btn-min-block
{
  min-width: 170px;
  line-height: 26px;
}
.btn-clear
{
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
  margin-right: 15px;
}
.btn-clear:hover
{
  color: #000;
  background-color: #FFF;
}

.elegantshadow{
  text-align: center;
}
.contact-form{
  padding-top: 40px;
}
#logologin{

  height: 55%;
  width: 55%;
}
#logosignup{
  height: 55%;
  width: 55%;
}
th{
  background-color: #337ab7;
  color: white;
  text-align: center;
}

#img-editprofile{
  height: 40%;
  width:  40%;
}
