<% layout('layout') -%>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-offset-4">
      <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>
        <% } %>

        <div class="row">
          <form method="post" >
            <h3>Edit Profile <img id="img-editprofile" src="http://www.freedrinkingwater.com/images-new/education-page/image/colored-water.jpg" alt="image"></h3>
            <div class="form-group">
              <label="name">Name: </label>
              <input type="text" class="form-control" value="<%= user.profile.name %>" name="name">
            </div>
            <div class="form-group">
              <label="name">Address: </label>
              <input type="text" class="form-control" value="<%= user.address %>"  name="address">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
