<% layout('layout') -%>
<div class="row" id="border-login-form">
  <div class="col-lg-4 col-md-offset-4">
    <% if (message.length > 0) { %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
      <% } %>
      <p style="text-align: center"><img id="logologin" src="http://leigia.com/wp-content/themes/leigia-bootstrap/img/prestashop.jpg" alt="Logo"> </p>
      <form method="post" >

        <div class="form-group">
          <label="name">Email: </label>
          <input type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label="name">Password: </label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-success">Login</button>
      </form>
      <br />
      <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
        <i class="fa fa-facebook"></i> Sign in with Facebook
      </a>
    </div>
  </div>
