<% layout('layout') -%>
<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <img class="img-circle img-responsive img-center" src="<%= user.profile.picture %>" alt="Avatar">
        <br />
        <p>Name: <%= user.profile.name %></p>
        <p>Email: <%= user.email %></p>
        <% if(user.address === "" || typeof user.address === 'undefined') { %>
          <p>Address:<span style="color:#e60000; font-weight:bold">You have no address.</span></p>
          <% } else { %>
            <p>Address: <%= user.address %></p>
            <% } %>
            <a href="/edit-profile" class="btn btn-primary brn-lg">Edit Profile</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <h3 class="text-center">History of shopping cart!</h3>
            <table class="table table-hover table-bordered sticky-header">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                </tr>
                <tbody>
                  <% for(var i = 0; i < user.history.length; i++) {%>
                    <tr>
                      <td><%= user.history[i].item.name %></td>
                      <td>$<%= user.history[i].paid %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </thead>
              </table>
            </div>
          </div>
        </div>

      </div>
