<% layout('layout') -%>
<div class="row">
  <div class="col-lg-4 col-md-offset-4">
    <% if (errors.length > 0) { %>
      <div class="alert alert-anger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= errors %>
      </div>

    </div>
    <% } %>

    <form method="post" >
      <p style=" text-align: center"><img id="logosignup" src="http://leigia.com/wp-content/themes/leigia-bootstrap/img/prestashop.jpg" alt=""></p>
      <div class="form-group">
        <label="name">Name: </label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label="name">Email: </label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label="name">Password: </label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-success">Create an account!</button>
    </form>
  </div>
</div>
