<% layout('layout') -%>
<div class="container">
  <div>
    <h1>Your Shopping Cart is empty.</h1>
  </div>
  <div class="content">
    <p>Your Shopping Cart lives to serve. Give it purpose — fill it with books, CDs, DVDs, toys, electronics, and more. If you already have an account,<a href="/signup">Sign In</a> to see your Cart.
      Continue shopping on the BeatyvnShop homepage, learn about today's deals, or visit your Wish List.</p>
      <p>The price and availability of items at Amazon.com are subject to change. The Cart is a temporary place to store a list of your items and reflects each item's most recent price. </p>
      <p>Do you have a gift card or promotional code? We'll ask you to enter your claim code when it's time to pay.</p>
    </div>
  </div>
