<!-- Details Cart added, modify Cart, pay Cart with Stripe -->
<% layout('layout') -%>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>
        <% } %>
        <% for(var i = 0; i < foundCart.items.length; i++) { %>
          <div class="list-group">
            <span class="list-group-item">
              <div class="row">
                <div class="col-md-3">
                  <span><img src="<%= foundCart.items[i].item.image %>" class="product-image" alt="Product image."></span>
                </div>
                <div class="col-md-5">
                  <p class="list-group-item-heading"><%= foundCart.items[i].item.name %></p>
                </div>
                <div class="col-md-4">
                  <p>Subtotal:<%= foundCart.items[i].quantity %> item(s)</p>
                  <p>Price: ($)<%= foundCart.items[i].price.toFixed(2) %></p>
                  <form class="" action="/remove" method="post">
                    <input type="hidden" name="item" value="<%= foundCart.items[i]._id %>">
                    <input type="hidden" name="price" value="<%= foundCart.items[i].price %>">
                    <button type="submit" type="button" class="btn btn-primary">Remove</button>
                  </form>
                </div>
              </div>
            </span>
          </div>
          <% } %>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
          <div class="list-group">
            <span class="list-group-item">
              <h4>Total price: $<span class="totalPrice"><%= foundCart.total%></span></h4>
              <div class="form-group">
                <input type="hidden" value="<%= foundCart.total %>">
                <button type="submit" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Pay with Stripe</button>
              </div>
            </span>
          </div>
        </div>
        <!-- modal with Stripe payment -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pay with Stripe!</h4>
              </div>
              <div class="modal-body">

                <!-- Credit card form -->
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title"><img class="pull-right" src="http://i76.imgup.net/accepted_c22e0.png">Payment Details</h3>
                        </div>
                        <div class="panel-body">
                          <form role="form" id="payment-form" action="/payment" method="POST">
                            <div class="row" style="display:none;">
                              <div class="col-xs-12">
                                <p class="payment-errors"></p>
                              </div>
                            </div>
                            <input type="hidden" name="stripeMoney" value="<%= foundCart.total %>">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group">
                                  <label for="cardNumber">CARD NUMBER</label>
                                  <div class="input-group">
                                    <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                  <label for="expMonth">EXPIRATION DATE</label>
                                  <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                  </div>
                                  <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                  <label for="cvCode">CV CODE</label>
                                  <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-xs-12">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Pay: $(<%= foundCart.total%>)</button>
                              </div>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-offset-6">
          <div class="text-center" id="loading">

          </div>
        </div>
      </div>
    </div>
