<% layout('layout') -%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="http://www.petpower.eu/wp-content/uploads/2017/02/Foto11.jpg" alt="First slide">
            <div class="carousel-caption">
              <h3>
                First slide</h3>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </div>
              <div class="item">
                <img src="http://www.praguevisitor.eu/wp-content/uploads/2016/09/14480604_634064853446321_5883202686548980669_o-1200x500.jpg" alt="Second slide">
                <div class="carousel-caption">
                  <h3>
                    Second slide</h3>
                    <p>
                      Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="http://www.retale.com/blog/shared/content/uploads/2015/11/Shopping-bags-1200x500.jpg" alt="Third slide">
                    <div class="carousel-caption">
                      <h3>
                        Third slide</h3>
                        <p>
                          Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                      </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                      href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                      </span></a>
                    </div>
                    <div class="main-text hidden-xs">
                      <div class="col-md-12 text-center">
                        <h1>
                          Welcome to the Beautyvn-Shop!</h1>
                          <div class="">
                            <a class="btn btn-clear btn-sm btn-min-block" href="/login">Login</a><a class="btn btn-clear btn-sm btn-min-block"
                            href="/signup">Registration</a></div>
                            <h3>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </h3>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="push">

                  </div>
