<% layout('layout') -%>

<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1 class='elegantshadow'>Beautyvn Shop</h1>
    <p class="text-center">Search for shop's Products</p>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="input-group col-md-12">
          <input type="text" id="search" name="search_term" class="form-control input-lg" placeholder="Search for a product ...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-search"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" id="searchResults">
    <% for(var i =0; i < products.length; i++) { %>
      <div class="col-md-4">
        <a href="/product/<%= products[i]._id %>">
          <div class="thumbnail">
            <img src="<%= products[i].image %>">
            <div class="caption">
              <h3><%= products[i].name %></h3>
              <p><%= products[i].category.name %></p>
              <p>$<%= products[i].price %></p>
            </div>
          </div>
        </a>
      </div>
      <% } %>
      <div class="pagination">
        <ul class="pagination text-center">
          <li>
            <% for(var i = 1; i <= pages; i++) { %>
              <% if(i === 1) { %>
                <li><a href="/"><%= i %></a></li>
                <% } else { %>
                  <li><a href="/page/<%= i %>"><%= i %></a></li>
                  <% } %>
                  <% } %>
                </li>
              </ul>
            </div>

          </div>
          </div
