<% layout('layout') -%>

<% if(data.length === 0) { %>
  <div class="search-not-found">
    <h3>Oop! Search not found.</h3>
  </div>

<% } else { %>
   <div class="search-result">
    <h3>Results for <%= query %></h3>
   </div>
    <div class="container">
      <div class="row">
        <% for(var i = 0; i < data.length; i++) { %>
        <div class="col-md-4">
         <a href="/product/<%= data[i]._source._id %>">
          <div class="thumbnail">
            <img src="<%= data[i]._source.image %>" alt="">
              <div class="caption">
                <h3><%= data[i]._source.name %></h3>
                <p><%= data[i]._source.category.name %></p>
                <p><%= data[i]._source.price %></p>
              </div>
          </div>
          </a>
        </div>
        <% } %>
      </div>
    </div>

<% } %>
